.inline-datepicker{
	.datepicker {
	color: white;
	height: 100%;
	.datepicker-days, .datepicker-months, .datepicker-years {
		width: 100%;
		height: 100%;
		.table-condensed {
			height: 100%;
			border-spacing: 0.8rem;
    		border-collapse: separate;
    		.day {
    			&.new, &.old {
					visibility: hidden;
    			}
    		}
    		.dow {
    			font-size: 1rem;
    			font-weight: normal;
    			text-transform: uppercase;
    		}
		}
	}
}

.bootstrap-datetimepicker-widget {
	height: 100%;
	.list-unstyled {
		height: 100%;
		li {
			height: 100%;
		}
	}
	table {
		thead {
			tr {
				&:first-child {
					th {
						&:hover {
							background-color: transparent;
						}
					}
				}
			}
		}
		td {
			font-family: Georgia,Times,"Times New Roman",serif;
			&.day, &.month, &.year {
				position: relative;
				background-color: rgba(255,255,255,0.2);
				@include border-radius(0);
				font-size: 2rem;
				&:hover, &:focus {
					background-color: rgba(255,255,255,0.5);
				}
			}
			span {
				&.month {
					font-size: 1.5rem;
				}
				&.year {
					font-size: 1.5rem;
				}
				background-color: rgba(255,255,255,0.2);
				@include border-radius(0);
				&:hover, &:focus {
					background-color: rgba(255,255,255,0.5);
				}
				&.active {
					background-color: rgba(255,255,255,0.2);
					position: relative;
					&::before {
						position: absolute;
						line-height: normal;
						left: 0.1rem;
						top: 0.1rem;
						font-family: 'FontAwesome';
						content: '\f05d';
						color: #76FF03;
					}
				}
			}
			&.active {
				&::before {
					position: absolute;
					background-color: transparent;
					border: none;
					bottom: auto;
					right: auto;
					left: 0.1rem;
					top: 0.1rem;
					font-family: 'FontAwesome';
					content: '\f05d';
					color: #76FF03;
				}
			}
		}
	}
}
}

.inline-datepicker {
	width: 60%;
	height: 80%;
}