@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Tangerine);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #3e3e3e;
	&.investors {
		background-color: white;
	}
}

html, body {
	height: 100%;
}

.container-main {
	width: 90%;
	position: fixed;
	height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	&.full {
		width: 100%;
	}
	@media (max-width: 768px) {
		position: static;
	}
}

.h100 {
	height: 100% !important;
}

.block-center {
	margin: auto;
	float: none;
	display: table;
}

.w63 {
	width: 63%;
}

.w37 {
	width: 37%;
}

.w60 {
	width: 60%;
}

.w70 {
	width: 70%;
	@media (max-width: 992px) {
		width: 90%;
	}
}

.padding-5-0 {
	padding: 5rem 0;
}

.padding-left-3 {
	padding-left: 3rem;
}
.padding-right-3 {
	padding-right: 3rem;
}

.btn-normal {
	@include transition(all 500ms ease-in);
	font-size: 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0.13);
	padding: 12px 25px;
	border: solid 1px white;
	text-transform: uppercase;
	min-width: 160px;
	@include border-radius(5px);
	&:hover, &:focus, &:active {
		color: white;
		background-color: rgba(0, 0, 0, 0.45);
	}
	&.btn-large {
		font-size: 17px;
		padding: 12px 30px;
		border: solid 2px white;
	}
}

.main-hd {
	color: white;
	font-size: 25px;
	margin-top: 8px;
	position: absolute;
	right: 100%;
	padding-right: 2rem;
}

.inner-hd {
	color: rgba(255, 255, 255, 0.91);
	padding-left: 15px;
	padding-top: 16px;
	font-family: sans-serif;
	margin-bottom: 0;
}

.flex {
	@include display-flex;
	@include align-items (center);
	@include justify-content (center);
}
.ht-100 {
	height: 100%;
}

.offset-_130 {
	margin-top: -130px !important;
}

.offset-top-30 {
	margin-top: 30px;
}

.left {
	left: 0 !important;
}

.spacer-lg {
	height: 10rem;
}

.spacer-md {
	height: 5rem;
	@media (max-width: 480px) {
		height: 0;
	}
}

.spacer-sm {
	height: 3rem;
}

.spacer-xs {
	height: 2rem;
}

.offset-3-0 {
	margin: 3rem 0;
}

.offset-bottom-15 {
	margin-bottom: 15px;
}

.count-val {
	* {
		text-align: center;
	}
	.top-label{
		color: white;
		font-size: 26px;
		margin-top: 40%;
		margin-bottom: 10px;
	}
	small {
		display: block;
		color: rgba(255, 255, 255, 0.8);
		font-size: 16px;
		margin-top: 10px;
	}
	.number-input {
		width: 110px;
		margin: auto;
		border: solid 1px white;
		@include border-radius(4px);
		.add, .subtract {
			background-color: rgba(0, 0, 0, 0.19);
			cursor: pointer;
			padding: 0px;
			font-size: 23px;
			i {
				color: rgba(0, 0, 0, 0.48);
			}
		}
		.add {
			@include border-top-radius(4px);
		}
		.subtract {
			@include border-bottom-radius(4px);
		}
	}
	input {
		background-color: rgba(255, 255, 255, 0.26);
		border: none;
		height: 85px;
		color: white;
		font-size: 40px;
		width: 100%;
	}
}

.ht-90 {
	height: 90% !important;
}
.ht-80 {
	height: 80% !important;
}
.bottom {
	bottom: 0;
}

.right {
	right: 0;
}

.pos-abs {
	position: absolute;
}

.offset-bottom-30 {
	margin-bottom: 30px;
}

.offset-top-1rem {
	margin-top: 1rem;
}

.visible-box {
	background-color: rgba(0, 0, 0, 0.18);
	border: solid 1px white;
	color: white;
	padding: 15px 35px;
	position: relative;
	min-width: 200px;
	.top-hd {
		font-size: 16px;
	}
	.main-lable {
		font-size: 25px;
	}
	.edit {
		position: absolute;
		top: 15px;
		right: 15px;
		color: white;
		opacity: .6;
		@include transition(all 200ms ease-in);
		&:hover {
			opacity: 1;
		}
	}
}

.offset-top-10 {
	margin-top: 10px !important;
}

.offset-bottom-10 {
	margin-bottom: 10px !important;
}

.redirect-msg {
	text-align: center;
	color: white;
	font-size: 15px;
	margin-top: 10px;
	display: none;
}

.schedules-search {
	.center-base .middle-box {
		width: 85%;
		.actions {
			position: static;
			width: 100%;
			margin-top: 3rem;
			clear: both;
		}
	}
	.middle-box { 
		height: 63%;
		background-color: transparent !important;
	}
}

.inner-hd2 {
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.inner-hd3 {
	color: white;
	font-size: 20px;
	font-weight: 400;
}

.full-width {
	width: 100% !important;
}

.bootstrap-select.btn-group .dropdown-menu {
	background: white;
}

.bootstrap-select {
	.dropdown-toggle {
		background-color: rgba(0, 0, 0, 0.13);
		color: white;
		padding: 12px 20px;
	}

	&.full-width {
		.dropdown-toggle {
			width: 100%;
		}
	}

	ul.dropdown-menu{
		background-color: transparent !important;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		color: #262626;
		text-decoration: none;
		background-color: rgb(243, 242, 242);
	}

	.dropdown-menu > li > a {
		display: block;
		padding: 6px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #464646;
	}

	.btn-default {
		border-color: rgba(255, 255, 255, 0.61);
	}

	.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
		color: #333;
		background-color: rgba(255, 255, 255, 0.77);
		border-color: rgba(255, 255, 255, 0.26);
	}

	* {
		outline: none !important;
	}

}

.ht-250 {
	height: 250px;
}

.offset-top-10p {
	margin-top: 10%;
}

.container {
	&.sm {
		width: 63%;
		@media (max-width: 992px) {
			width: 80%;
		}
		@media (max-width: 768px) {
			width: 95%;
		}
	}
	&.lg {
		width: 90%;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
}

.offset-right-60 {
	margin-right: 60px;
}

.display-section {
	&:hover {
		.go-bttn {
			opacity: 1;
		}
	}
	list-style: none;
	clear: both;
	padding: 10px 40px;
	float: left;
	width: 100%;
	position: relative;
	li {
		width: 30%;
		float: left;
		margin-right: 1%;
		font-size: 15px;
		&:last-of-type {
			margin-right: 0;
		}

		&.width-sml {
			width: 12%;
			.visible-box {
				text-align: center;
			} 
		}

		small {
			color: white;
			font-size: 12px;
			text-align: left !important;
		}
		.visible-box {
			background-color: rgba(0, 0, 0, 0.18);
			border: none;
			color: white;
			padding: 18px 35px;
			position: relative;
			min-width: initial;
			white-space: nowrap;

		}
	}
}

.min-width-90 {
	width: 90px;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.62);
}

.loader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 800;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.spinner {
	margin: 0;
	left: 50%;
	margin-left: -35px;
	top: 50%;
	margin-top: -12px;
	position: absolute;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: white;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}

	.offset-top-_10 {
		margin-top: -10px;
	}

	.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: rgba(0, 0, 0, 0.13);
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.hd-lable-n {
		color: white;
		font-weight: 500;
	}

	.small-nrm {
		color: white;
		padding-left: 8px;
	}

	.datetimepick {
		
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: white;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: white;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: white;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: white;
		}
		.form-control {
			border-right: 0;
			color: white;
			padding: 0 18px;
			height: 45px;
		}
		.input-group-addon {
			background-color: rgba(0, 0, 0, 0.13);
			i {
				color: white;
			}
		}

	}




	.custom-checkbox {
		input[type=checkbox] { display:none; } /* to hide the checkbox itself */
		input[type=checkbox] + label:before {
			font-family: FontAwesome;
			display: inline-block;
		}

		input[type=checkbox] + label:before { content: "\f096";    width: 20px; } /* unchecked icon */
		input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

		input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
		input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 
	}

	.block-center-lg {
		display: table;
		float: none;
		margin: auto;
	}
	.ht-100im {
		height: 100% !important;
	}

	.offset-top-5p {
		margin-top: 5%;
	}
	.offset-top-4p {
		margin-top: 4%;
	}

	.offset-bottom-90 {
		margin-bottom: 90px;
	}

	.offset-bottom-20 {
		margin-bottom: 20px;
	}

	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
		background-color: rgba(238, 238, 238, 0.25);
	}

	.offset-left-17 {
		margin-left: 17px;
	}

	.offset-left-15 {
		margin-left: 15px;
	}

	.width-160 {
		width: 160px !important;
	}

	.pad-top-7 {
		padding-top: 7px; 
	}

	#route_select_box {
		display: none;
	}
	.offset-top-20 {
		margin-top: 20px;
	}

	.time-block {
		span {
			display: block;
		}
	}

	.flight-show-table {

		margin-top: -15px;
		.top-data-info {
			@include display-flex;
			@include align-items(center);
			padding: 10px;
			color: white;
			background-color: rgba(0, 0, 0, 0.19);
			@include border-radius(3px);
			margin-bottom: 2px;
			font-size: 12px;
			strong {
				font-size: 14px;
			}
		}
		display: none;
		.table {
			color: white;
			.tr {
				.td{
					&:nth-of-type(1) {
						max-width: 14%;
					}
				}
				.td{
					&:nth-of-type(2) {
						max-width: 14%;
					}
				}
				.td{
					&:nth-of-type(4) {
						max-width: 14%;
					}
				}
				.td{
					&:nth-of-type(5) {
						max-width: 14%;
					}
				}
			}
		}
	}

	.flight-all-show-btn {
		.close-label {
			display: none;
		}
		&.active {
			.close-label {
				display: block !important;
			}
			.shw-all-label {
				display: none !important;
			}
		}
	}

	.text-danger {
		color: #C70400;
	}

	.border-none {
		border: none;
	}

	.offset-0 {
		margin: 0;
	}


	.modal {
		text-align: center;
		padding: 0 !important;
	}

	.normal-input-style {
		background-color: rgba(0, 0, 0, 0.13) !important;
		cursor: text;
	}

	.alertModal  {
		.modal-body {
			p {
				strong {
					font-size: 14px;
					font-weight: 600;
					i {
						font-size: 16px;
						margin-right: 3px;
					}
				}
			}
		}
	}

	/* @media (max-width: 1230px) {
		* .scroll-header .navbar-brand {
			margin: auto;
			display: table;
			float: none;
		} 

		.scroll-header .nav-bar.top {
			margin-top: .5rem !important;
			float: none !important;
			margin-left: auto;
			margin-right: auto;
			display: table;
		}
	}
 */
	@media (max-width: 768px) {
		.scroll-header .nav-bar.top {
			display: none;
		}
		.overflow-auto {
			width: 100%;
			overflow: auto;
		}

		.flight-show-table {

			.table-wrp {
				min-width: 700px;
			}
		}
		.slide {
			.teaser {
				h1 {
					opacity: 0 !important;
					@include transition(all 200ms ease-in);
				}
			}
			&.active {
				.teaser {
					h1 {
						opacity: 1!important;
					}
				}
			}
		}
	}

	.fp-slidesContainer {
		width: 100%!important;
		transform: none!important;
	}

	.fp-slide {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all 1.3s cubic-bezier(0.65, 0.04, 0.81, 0.15);
	}

	.fp-slide.active {
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}

	.slide {
		.teaser {
			h1 {
				opacity: 0 !important;
				transition: all 1s ease-in-out;
			}
		}
		&.active {
			.teaser {
				h1 {
					opacity: 1!important;
				}
			}
		}
	}

	.fp-controlArrow {
		display: none;
	}

	.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
		border: none;
		margin-top: -65px;
		&:after {
			font-family: FontAwesome;
			content: "\f104";
			position: absolute;
			font-size: 90px;
			color: white;
		}
	}

	.fp-controlArrow.fp-next {
		right: 45px !important;
		&:after {
			content: "\f105" !important;
		}
	}


	.contact-prt {
		&.bottom {
			position: fixed;
			bottom: -32px;
		}
		@media (max-width: 768px) {
			//background-color: rgb(37, 186, 177);
			background-color: rgb(254, 111, 49);
			position: fixed;
			&.bottom {
				display: none;
			}
		}
		@media (max-width: 420px) {
			height: 65px;
		}
		
		position: relative;
		width: 100%;
		background-color: #ec6e2e;
		height: 31px;
		.call-us {
			color: white;
			p {
				margin: 5px 0 0;
				font-size: 1.1em;
			}
			@media (max-width: 768px) {
				float: left;
			}
			@media (max-width: 420px) {
				text-align: center;
				width: 100%;
			}
		}
		.top {
			top: 0;
		}
		.social-us {
			@media (max-width: 768px) {
				float: right;
			}
			@media (max-width: 420px) {
				width: 100%;
				padding-top: 4px;
				.social {
					text-align: center;
				}
			}
		}
		.social {
			font-size: 2.1rem;
			text-align: right;
			
		}
	}

	@media (max-width: 420px) {
		.scroll-header {
			top: 65px !important;
		}
	}

	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
		color: #E6E6E6;
	}

	.datepicker table tr td {
		font-weight: 600;
	}

	@media (min-width: 768px) {

		

		.banner-caption-algn {
			text-align: right;
			display: block;
			padding-right: 17%;
			padding-top: 5%;
			font-size: 6rem;
		}
		.offset-lg-right-18 {
			margin-right: 18%;
		}
	}

	@media (max-width: 1018px) {
		.banner-caption-algn {
			font-size: 4.2rem;
			padding-right: 19%;
		}

		.offset-lg-right-18 {
			margin-right: 19%;
		}
	}


	@media (max-width: 991px) {
		.offset-top-sm-30 {
			margin-top: 30px;
		}
		.home-booking {
			margin-bottom: 50px;
		}
	}

	@media (max-width: 1199px) {
		.offset-top-md-30 {
			margin-top: 30px;
		}
	}


	@media (max-width: 768px) {

		.section.fp-section, .section.fp-section .fp-tableCell {
			height: auto !important;
		}

		.offset-top-sm-30 {
			margin-top: 30px;
		}

		.hide-sm {
			display: none;
		}
		.banner-caption-algn {
			padding-right: 0;
		}
		.offset-lg-right-18 {
			margin-right: auto;
		}

		.fp-enabled body {
			-moz-background-size: 280% !important;
			-o-background-size: 280% !important;
			-webkit-background-size: 280% !important;
			background-size: 280% !important;
			background-repeat: no-repeat;
			background-position: right 93px;
			background-attachment: fixed;
		}

		body.home.fp-viewing-0-3  {
			/* -moz-background-size: 228% !important;
			-o-background-size: 228% !important;
			-webkit-background-size: 228% !important;
			background-size: 228% !important; */
			background-position: 13% 93px !important;
		}
	}

	.contact-section {
		a {
			color: white;
			text-decoration: none;
		}
		background-color: rgba(0, 0, 0, 0.18);
		color: white;
		h4 {
			font-size: 17px;
			margin: 0;
			padding: 10px 15px;
			background-color: rgba(0, 0, 0, 0.18);
			cursor: pointer;
		}
		.inner-cnt-contact {
			padding: 10px 25px;
			p {
				font-size: 13px;
				padding: 15px 0;
				margin-bottom: 20px;
			}
		}
		.big-text-contact {
			font-size: 19px;
			display: inline-block;
			margin-bottom: 25px !important;

		}

		.enqry-txt {
			padding: 0 !important;
			margin-bottom: 5px !important;
		}
		.contact-down-bttn {
			cursor: pointer;
			@include transition(all 200ms ease-in);
		}
		&.closed .contact-down-bttn{
			@include transform(rotate(-180deg));
		}
	}

	.home-booking {
		.radio {
			float: right;
			label {
				font-size: 15px;
			}
		}
		position: absolute;
		z-index: 99;
		height: 100%;
		@include display-flex;
		@include align-items(center);
		.inner-hd2 {
			color: white;
			font-size: 19px;
			font-weight: 600;
			padding: 0px 7px 0px 7px;
		}
	}
	.text-right{
		text-align: right !important;
	}

	.bg-black-tnsprnt {
		background-color: rgba(0, 0, 0, 0.73);
	}

	.pad-20 {
		padding: 20px;
	}

	.pad-13 {
		padding: 13px;
	}

	.go-bttn {
		opacity: 0;
		position: absolute;
		right: 0;
		background-color: #e2632c;
		color: white;
		padding: 19px 13px;
		bottom: 10px;
		@include transition(all 200ms ease-in);
		&:hover,&:focus {
			color: white;
		}
	}

	.home-booking {
		.bootstrap-select.btn-group .dropdown-menu {
			max-height: 277.5px !important;
			overflow: hidden !important;
			min-height: 44px !important;
			&.inner {
				max-height: 157.5px !important;
				overflow-y: auto !important;
				min-height: 32px !important;
			}
		}
	}

.disabled {
	background-color: rgba(255,255,255,0.3) !important;
	+ .input-group-addon {
		background-color: rgba(255,255,255,0.3) !important;
	}
}

.radio {
	float: left;
	width: auto;
	margin: 0;
	label {
		position: relative;
		padding-left: 23px;
		&::before {
			width: 2rem;
			height: 2rem;
			content: "";
			position: absolute;
			top: 0rem;
			left: 0;
			@include border-radius(50%);
		}
	}
	+ .radio {
		margin-top: 0;
		margin-right: 1.5rem;
	}
}

.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"]:focus + label::before {
  outline: none;
}
.radio input[type="radio"]:not(:checked) + label::before {
  	background-color: rgba(255,255,255,0.3);
	border: solid 2px white;
}
.radio input[type="radio"]:checked + label::before {
  background-color: #e2632c;
  border: solid 2px #e2632c;
}

.home-down {
	position: absolute;
	color: white;
    cursor: pointer;
    font-size: 3.6rem;
    bottom: 5.6rem;
    left: 50%;
    z-index: 999;
    margin-left: -1.5rem;
	@media (max-width: 991px) {
		display: none;
	}
}

#livechat-compact-container, #livechat-full {
    left: 15px !important;
    right: auto !important;
 }

 .offset-top-_15 {
 	margin-top: -15px;
 }