.inner-pages-normal {

	@media (max-width: 420px) {
		.scroll-header {
			top: 0 !important;
		}
	}

	background-color: #ecf0ef;
	.container-main.full {
		z-index: 9;
		position: relative;
		height: auto !important;
		overflow: hidden;
	}
	.navbar-default {
		margin-bottom: 0;
		background-color: #fff;
		border-bottom: 0;
		@include border-radius(0);
	}

	.scroll-header {
		position: relative;
		&.shadow-bottom {
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
		}
	}

	.banner-in-wrp {
		width: 100%;
		position: relative;
		z-index: 0;
		.bg-in-banner {
			width: 100%;
			height: auto;
		}
		.cafe-logo {
			width: 203px;
			height: 203px;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			top: -180px;
		}
	}
	.table-row {
		display: table-row;
	}
	.news-wrp {
		position: absolute;
		z-index: 9;
		width: 55%;
		color: black;
		padding: 5px;
		background-color: rgba(228, 199, 165, 0.71);
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
		right: 0;
		left: 0;
		bottom: 0;
		top: 283px;
		margin: auto;
		display: table;
		.news-head {
			float: left;
			color: white;
			background-color: black;
			padding: 2px 7px;
			display: table-cell;
			i {
				margin-right: 5px;
			}
			&:after {
				content: "\f04b";
				font-family: FontAwesome;
				color: black;
				position: absolute;
				margin-left: 5px;
			}
		}
	}

	.news-cont {
		display: table-cell;
		vertical-align: middle;
		width: 87%;
		p {
			margin-bottom: 0;
		}
	}

	.small-tran-box-wrp {
		height: 100%;
		@include display-flex;
		@include align-items(center);
		.small-tran-box {
			background-color: rgba(228, 199, 165, 0.71);
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
			position: relative;
			text-align: center;
			color: black;
			padding: 45px;
			h2 {
				margin-top: 0;
				margin-bottom: 0;
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
			}
			hr {
				margin-top: 30px;
				margin-bottom: 30px;
				border: 0;
				border-top: 1px solid rgba(23, 22, 22, 0.62);
			}
		}
	}

	.bg-set {
		background-size: cover;
		height: 866px;
		//background-attachment: fixed;
		width: 100%;
		background-repeat: no-repeat;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	
	.bg-set2 {
		height: auto !important;
	}

	.bg-set3 {
		background-attachment: fixed;
		background-image: url(../../images/coffee-20000-img-3.jpg);
	}

	footer {
		height: auto;
		background-color: #2c3940;
		padding-bottom: 0;
		&.min-ht-1000 {
			min-height: 1000px;
		}
		.items-srv {
			ul {
				float: right;
				width: auto;
				list-style: none;
				padding: 0;
				span {
					float: left;
					padding-top: 7px;
				}
				li {
					float: left;
					position: relative;
					&:last-of-type {
						&:after {
							display: none;
						}
					}
					.btn {
						background-color: transparent;
						font-weight: 600;
						&:hover, &:focus,&:active ,&.active {
							color: #fe7030;
							@include box-shadow(none);
							outline: none;
						}
					}
					&:after {
						content: "\f142";
						font-family: fontAwesome;
						position: absolute;
						right: 0;
						top: 11px;
						bottom: 0;
						margin: auto;
						font-size: 10px;
					}
				}
			}
			
			.grid {
				.element-item {
					width: 215px;
					height: auto;
					margin: 40px;
					h4 {
						margin-top: 10px;
					}
					p {
						opacity: .7;
						margin-bottom: 0px;
					}
					img {
						width: 100%;
						height: auto;
					}
				}
			}

			.top-hd-part {
				margin-left: 40px;
				margin-right: 40px;
			}

		}
		.contact-part {
			padding: 15px 28px;
			background-color: #ec6e2e;
			font-size: 18px;
			bottom: 0;
			width: 100%;
		}
	}
}

.cafe-page .contact-part {
	position: fixed;
	display: none;
}


.offset-right-15 {
	margin-right: 15px;
}

.offset-top-70 {
	margin-top: 70px;
}


.offset-top-150 {
	margin-top: 150px;
}

.btn {
	@include transition(all 300ms ease-in);
	&.btn-flat {
		@include border-radius(0);
	}
	&.black-btn {
		background-color: black;
		color: white;
		font-weight: 600;
		padding: 9px 20px;
		font-size: 17px;
		@include box-shadow(0px 3px 2px rgba(0, 0, 0, 0.12));
		border: none;
		&:focus {
			outline: none;
		}
		&:hover {
			color: #fe7030;
		}
		&.active {
			background-color: white;
			color: #fe7030;
		}
	}
}

.center-rule {
	&:before {
		content: '';
		width: 1px;
		position: absolute;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #8e8f8f;
		margin: auto;
	}
}

.coffee-menu-section {
	position: relative;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		color: black;
		li {
			margin-bottom: 40px;
			h4 {
				font-size: 17px;
				font-weight: 600;
			}
		}
	}
}

#in-flight-view {
	display: none;
}

.menu-trm {
	margin: 80px 0;
	font-size: 13px;
}

.dlcs-wrp {
	h3 {
		font-weight: 600;
		margin-bottom: 35px;
	}
	.swiper-container {
		width: 100%;
		background-color: rgba(255, 255, 255, 0.52);
		box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.33);
		.swiper-wrapper {
			width: 100%;
			height: 350px;
			.swiper-slide {
				width: 100% !important;
				@include display-flex;
				@include align-items(center);
				padding: 50px;
				.img-box {
					float: left;
				}
				.content-box {
					text-align: left;
					padding-left: 20px;
					padding-right: 20px;
					h4 {
						font-weight: 600;
					}
					p {
						margin-top: 20px;
					}
				}
			}
		}

		.nxtprv-buttons {
			position: absolute;
			top: 0;
			font-size: 40px;
			color: #ec6e2e;
			z-index: 1;
			cursor: pointer;
			&.prev-btn{
				right: 53px;
			}
			&.next-btn {
				right: 28px;
			}
		}
	}
}

.block-center-block {
	margin: auto;
	float: none;
}

.offset-top-120 {
	margin-top: 120px;
}

.offset-top-60 {
	margin-top: 60px;
}

.padding-0 {
	padding: 0;
}

.static-banner {
	clear: left;
	width: 100%;
	padding: 4%;
	position: relative;
	h1 {
		text-transform: uppercase;
		text-align: center;
		color: white;
		font-size: 70px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		font-weight: 800;
	}
	img {
		width: 100%;
		height: auto;
		position: relative;
		z-index: 0;
	}
	.fl-argn-text {
		position: absolute;
		top: 79%;
		font-size: 17px;
		padding: 40px;
		margin: 0px 5%;
		background-color: rgba(0, 0, 0, 0.77);
		text-align: center;
		color: white;
		z-index: 2;
		width: calc(100% - 18%);
		font-weight: 100;
	}
}

.bg-white {
	background-color: white;
}

@media (max-width: 1228px) {
	.inner-pages-normal .banner-in-wrp .cafe-logo {
		top: -10px;

	}
}

@media (max-width: 1199px) {

	.coffee-menu-section {
		background-color: rgba(255, 255, 255, 0.83);
	}
	.center-rule:before{
		display: none;
	}
	.inner-pages-normal .news-cont {
		display: block;
		width: 100%;
	}
}

@media (max-width: 991px) {
	#newsFeed.slide {
		display: block !important;
	}
}

@media (max-width: 768px) {
	.inner-pages-normal .banner-in-wrp .cafe-logo {
		width: 163px;
		height: 163px;
		top: -40px;
	}
	.inner-pages-normal .news-wrp {
		width: 90%;
	}
}
.whr-to-sty-section {
h5 {
		color: #00266b;
		font-size: 25px;
		font-weight: 700;
	}
}

.what-todo-section {
	height: auto;
	h5 {
		color: #00266b;
		font-size: 25px;
		font-weight: 700;
	}
}

.width-84-p {
	width: 84% !important;
}

.offset-top-70 {
	margin-top: 70px;
}

.block-palces {
	width: 100%;
	.img-wrp {
		float: left;
		display: table-cell;
		padding-right: 7px;
		padding-left: 7px;
		img {
			width: 100%;
			height: auto;
		}
	}

	.contnt-part {
		h4 {
			color: #00266b;
			font-size: 21px;
			font-weight: 700;
		}
		background-color: #f7f7f7;
		display: table-cell;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
		.flex-center {
			@include display-flex;
			@include align-items(center);
		}
		p {
			font-size: 15px;
		}
	}
	.row1 {
		@include display-flex(inline-flex);
	}


	.row1.sec {
		margin-top: 30px;
		.contnt-part {
			margin-left: 8px;
		}


		.img-wrp {
			padding-right: 0;
		}
	}
}

.offset-top-50 {
	margin-top: 50px;
}

.block-palces-vertical {
	.contnt-part {
		background-color: #f7f7f7;
		h4 {
			color: #00266b;
			font-size: 21px;
			font-weight: 700;
		}
	}
	p {
		font-size: 15px;
	}
	.img-wrp {
		img {
		    width: 100%;
		}
	}
}

.whr-to-sty-section {
	background-color: #f7f7f7;
	.block-view {
	 	background-color: white;
    	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
	 }
}